body {
  background-image: url('images/background_redline.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.md-container {
  background-color: rgba(0, 0, 0, 0.70) !important;
  color: white !important;
}